<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="System.IO.Abstractions" version="2.0.0.141" targetFramework="net451" />
  <package id="UGTS" version="1.0.7" targetFramework="net451" />
  <package id="UGTS.Core" version="1.0.0" targetFramework="net451" />
  <package id="UGTS.Log4NetCleaner" version="1.0.0" targetFramework="net451" />
</packages>